.main {
  width: 100vw;
  height: 100vh;
}

.perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(180, 231, 59);
}

.redes {
  width: 100vw;
  height: 50vh;
  background-color: blueviolet;
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
  position: absolute;
  bottom: 0;
}
 
.conteiner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}